In [141]:
import pandas as pd

## Data Series

In [142]:
data=[10,20,30,40]
df=pd.Series(data)
print(df)

0    10
1    20
2    30
3    40
dtype: int64

## Datasets

In [143]:
data={"cars":["maruthi","santro","benz"],
      "cost":[987,876,765]
     }
df=pd.DataFrame(data)
print(df)

      cars  cost
0  maruthi   987
1   santro   876
2     benz   765

In [144]:
data={"cars":["maruthi","santro","benz"],
      "cost":[987,876,765]
     }
df=pd.DataFrame(data,index=["car1","car2","car3"])
print(df)

         cars  cost
car1  maruthi   987
car2   santro   876
car3     benz   765

In [145]:
df1=pd.read_csv('transactions.csv')

## WEEK - I

#### 1.Print Summary of transaction data set

In [146]:
print(df1.describe(include="all"))

        TransactionID TransactionDate    UserID  ProductID   Quantity
count        10.00000              10  9.000000  10.000000  10.000000
unique            NaN              10       NaN        NaN        NaN
top               NaN      2010-08-21       NaN        NaN        NaN
freq              NaN               1       NaN        NaN        NaN
mean          5.50000             NaN  3.444444   3.400000   2.400000
std           3.02765             NaN  2.127858   1.074968   1.712698
min           1.00000             NaN  1.000000   2.000000   1.000000
25%           3.25000             NaN  2.000000   2.250000   1.000000
50%           5.50000             NaN  3.000000   4.000000   2.000000
75%           7.75000             NaN  3.000000   4.000000   3.000000
max          10.00000             NaN  7.000000   5.000000   6.000000

In [147]:
print(df1)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

#### 2.Print Numbers of Attributes

In [148]:
print("Number of Attributes" ,df1.shape[1])

Number of Attributes 5

#### 3.Print Numbers of Records

In [149]:
print("Number of records" ,df1.shape[0])

Number of records 10

#### 4.Get the row names

In [150]:
print("Row Names:", df1.index.tolist())

Row Names: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### 5.Get the column names

In [151]:
print("Column Names:", df1.columns.tolist())

Column Names: ['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity']

#### 6. View top 10 Records

In [152]:
print(df1.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

#### 7.Change the name of column “ Quantity” to “Quant”

In [153]:
df1.rename(columns={"Quantity": "Quant"}, inplace=True)

#### 8.Change the name of columns ProductID and UserID to PID and UID respectively

In [154]:
df1.rename(columns={"ProductID":"PID","UserID":"UID"},inplace=True)

#### 9. Order the rows of transactions by TransactionId descending, if ascending then ascending=True

In [155]:
df_sorted = df1.sort_values(by=["TransactionID"],
ascending=[False])
print(df_sorted.head())

   TransactionID TransactionDate  UID  PID  Quant
9             10      2016-05-08  3.0    4      4
8              9      2015-04-24  7.0    4      3
7              8      2014-04-24  NaN    2      3
6              7      2013-12-30  3.0    4      1
5              6      2013-12-23  2.0    5      6

#### 10. Order the rows of transactions by Quantity ascending, TransactionDate descending

In [156]:
ddf_sorted = df1.sort_values(by=["Quant", "TransactionDate"],
ascending=[True, False])
print(ddf_sorted.head())

   TransactionID TransactionDate  UID  PID  Quant
6              7      2013-12-30  3.0    4      1
4              5      2013-06-06  2.0    4      1
2              3      2011-06-16  3.0    3      1
1              2      2011-05-26  3.0    4      1
0              1      2010-08-21  7.0    2      1

#### 11. Set the column order of Transactions as ProductID,Quantity, TransactionDate, TransactionID, UserID

In [157]:
df1=df1[["PID","Quant","TransactionDate","TransactionID","UID"]]
print(df1)

   PID  Quant TransactionDate  TransactionID  UID
0    2      1      2010-08-21              1  7.0
1    4      1      2011-05-26              2  3.0
2    3      1      2011-06-16              3  3.0
3    2      3      2012-08-26              4  1.0
4    4      1      2013-06-06              5  2.0
5    5      6      2013-12-23              6  2.0
6    4      1      2013-12-30              7  3.0
7    2      3      2014-04-24              8  NaN
8    4      3      2015-04-24              9  7.0
9    4      4      2016-05-08             10  3.0

#### 12.Make UserID the first column of transactions

In [158]:
df1=df1[["UID","PID","Quant","TransactionDate","TransactionID"]]
print(df1)

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

#### 13. Extracting arrays from a Data Frame. Get the 2nd column

In [159]:
col2=df1.iloc[:, 1].values
print(col2)

[2 4 3 2 4 5 4 2 4 4]

#### 14. Get the ProductID Array

In [160]:
pid=df1["PID"].values
print(pid)

[2 4 3 2 4 5 4 2 4 4]

In [161]:
pid=df1["Quant"].values
print(pid)

[1 1 1 3 1 6 1 3 3 4]

#### 15.Get the ProductId array using the following variable

#### 16.Row subsetting, subset rows 1,3 and 6

In [162]:
ssrow=df1.iloc[[0,2,5]]
print(ssrow)

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
2  3.0    3      1      2011-06-16              3
5  2.0    5      6      2013-12-23              6

#### 17. subset rows excluding 1,3 and 6

In [163]:
ss136=df1.drop(index=[0,2,5])
print(ss136)

   UID  PID  Quant TransactionDate  TransactionID
1  3.0    4      1      2011-05-26              2
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

#### 18.Subset the first three rows

In [164]:
ssf3=df1.head(3)
print(ssf3)

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3

#### 19.Subset the last 2 rows

In [165]:
ssl2=df1.tail(2)
print(ssl2)

   UID  PID  Quant TransactionDate  TransactionID
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

#### 20. Subset rows excluding the last 2 rows

In [166]:
ssl2=df1.iloc[:-2]
print(ssl2)

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8

#### 21. Subset rows excluding the first 3 rows

In [167]:
ssf3=df1.iloc[3:]
print(ssf3)

   UID  PID  Quant TransactionDate  TransactionID
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

#### 22. Subset rows where Quantity>1

In [168]:
ss = df1[df1['Quant'] > 1]
print(ss)

   UID  PID  Quant TransactionDate  TransactionID
3  1.0    2      3      2012-08-26              4
5  2.0    5      6      2013-12-23              6
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

#### 23. Subset rows where UserID=2

In [169]:
sr = df1[df1["UID"] == 2]
print(sr)

   UID  PID  Quant TransactionDate  TransactionID
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6

#### 24. Subset rows where Quantity>1 and UserID=2

In [170]:
sq = df1[(df1["Quant"] > 1) & (df1["UID"] == 2)]
print(sq)

   UID  PID  Quant TransactionDate  TransactionID
5  2.0    5      6      2013-12-23              6

#### 25. Subset rows where Quantity + UserID is >3

In [171]:
ss=df1[(df1["Quant"]) + (df1["UID"]) > 3 ]
print(ss)

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
3  1.0    2      3      2012-08-26              4
5  2.0    5      6      2013-12-23              6
6  3.0    4      1      2013-12-30              7
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

#### 26. Subset rows where an external array, foo, is True

In [172]:
foo=[True,False,True,False,True,False,True,False,True,False]
ext=df1[foo]
print(ext)

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
2  3.0    3      1      2011-06-16              3
4  2.0    4      1      2013-06-06              5
6  3.0    4      1      2013-12-30              7
8  7.0    4      3      2015-04-24              9

#### 27. Subset rows where an external array, bar, is positive

In [173]:
bar = [1,-1,-2,2,3,-3,-4,4,5,-5]

In [174]:
ss1=df1[[b > 0 for b in bar]]
print(ss1)

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9

#### 28. Subset rows where foo is TRUE or bar is negative

In [175]:
# Add foo and bar columns to DataFrame
df1["foo"] = foo
df1["bar"] = bar

# Subset rows where foo is True OR bar is negative
ss= df1[(df1["foo"]) | (df1["bar"] < 0)]

# Print the subset result
print(ss)

   UID  PID  Quant TransactionDate  TransactionID    foo  bar
0  7.0    2      1      2010-08-21              1   True    1
1  3.0    4      1      2011-05-26              2  False   -1
2  3.0    3      1      2011-06-16              3   True   -2
4  2.0    4      1      2013-06-06              5   True    3
5  2.0    5      6      2013-12-23              6  False   -3
6  3.0    4      1      2013-12-30              7   True   -4
8  7.0    4      3      2015-04-24              9   True    5
9  3.0    4      4      2016-05-08             10  False   -5

#### 29. Subset the rows where foo is not TRUE and bar is not negative

In [176]:
ss1= df1[(~df1["foo"]) & (df1["bar"] >= 0)]
print(ss1)

   UID  PID  Quant TransactionDate  TransactionID    foo  bar
3  1.0    2      3      2012-08-26              4  False    2
7  NaN    2      3      2014-04-24              8  False    4

#### 30. Subset by columns 1 and 3

In [177]:
ss= df1.iloc[:, [0, 2]]
print(ss)

   UID  Quant
0  7.0      1
1  3.0      1
2  3.0      1
3  1.0      3
4  2.0      1
5  2.0      6
6  3.0      1
7  NaN      3
8  7.0      3
9  3.0      4

#### 31. Subset by columns TransactionID and TransactionDate

In [178]:
ss=["TransactionID","TransactionDate"]
ss1=df1[ss]
print(ss1)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

#### 32. Subset by columns TransactionID and TransactionDate with logical operator

In [179]:
ss= df1[df1['Quant'] > 1][['TransactionID','TransactionDate']]
print(ss)

   TransactionID TransactionDate
3              4      2012-08-26
5              6      2013-12-23
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

#### 33. Subset columns by a variable list of column names

In [180]:
ss=["TransactionID","TransactionDate"]
ss1=df1[ss]
print(ss1)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

#### 34. Subset columns excluding a variable list of column names

In [181]:
ce= ['Quant', 'PID']
se= df1[[col for col in df1.columns if col not in ce]]
print(se)

   UID TransactionDate  TransactionID    foo  bar
0  7.0      2010-08-21              1   True    1
1  3.0      2011-05-26              2  False   -1
2  3.0      2011-06-16              3   True   -2
3  1.0      2012-08-26              4  False    2
4  2.0      2013-06-06              5   True    3
5  2.0      2013-12-23              6  False   -3
6  3.0      2013-12-30              7   True   -4
7  NaN      2014-04-24              8  False    4
8  7.0      2015-04-24              9   True    5
9  3.0      2016-05-08             10  False   -5

In [182]:
print(df1)

   UID  PID  Quant TransactionDate  TransactionID    foo  bar
0  7.0    2      1      2010-08-21              1   True    1
1  3.0    4      1      2011-05-26              2  False   -1
2  3.0    3      1      2011-06-16              3   True   -2
3  1.0    2      3      2012-08-26              4  False    2
4  2.0    4      1      2013-06-06              5   True    3
5  2.0    5      6      2013-12-23              6  False   -3
6  3.0    4      1      2013-12-30              7   True   -4
7  NaN    2      3      2014-04-24              8  False    4
8  7.0    4      3      2015-04-24              9   True    5
9  3.0    4      4      2016-05-08             10  False   -5

#### 35. Inserting and updating values

In [183]:

# 35. Inserting and updating values

# Updating a single value: Set the Quantity (Quant) of the first row to 10
df1.loc[0, "Quant"] = 10  

# Updating multiple values: Increase all Quantities by 5
df1["Quant"] = df1["Quant"] + 5

# Adding a new column: Add a column "Discount" with a default value of 10%
df1["Discount"] = 0.10

# Conditional Update: If Quant > 10, set Discount to 15%
df1.loc[df1["Quant"] > 10, "Discount"] = 0.15


# Insert a new row at a specific index (e.g., at index 5)
new_row = {"TransactionID": 8888, "UID": 45, "TransactionDate": "2024-02-01", "PID": 101, "Quant": 4}
df1 = pd.concat([df1.iloc[:5], pd.DataFrame([new_row]), df1.iloc[5:]]).reset_index(drop=True)

# Print the updated DataFrame
print(df1.head(10))

    UID  PID  Quant TransactionDate  TransactionID    foo  bar  Discount
0   7.0    2     15      2010-08-21              1   True  1.0      0.15
1   3.0    4      6      2011-05-26              2  False -1.0      0.10
2   3.0    3      6      2011-06-16              3   True -2.0      0.10
3   1.0    2      8      2012-08-26              4  False  2.0      0.10
4   2.0    4      6      2013-06-06              5   True  3.0      0.10
5  45.0  101      4      2024-02-01           8888    NaN  NaN       NaN
6   2.0    5     11      2013-12-23              6  False -3.0      0.15
7   3.0    4      6      2013-12-30              7   True -4.0      0.10
8   NaN    2      8      2014-04-24              8  False  4.0      0.10
9   7.0    4      8      2015-04-24              9   True  5.0      0.10

#### 36. Convert the TransactionDate column to type Date

In [184]:
df1["TransactionDate"] = pd.to_datetime(df1["TransactionDate"])
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UID              10 non-null     float64
 1   PID              11 non-null     int64
 2   Quant            11 non-null     int64
 3   TransactionDate  11 non-null     datetime64[ns]
 4   TransactionID    11 non-null     int64
 5   foo              10 non-null     object
 6   bar              10 non-null     float64
 7   Discount         10 non-null     float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 836.0+ bytes
None

#### 37. Insert a new column, Foo=UserID+ProductID

In [185]:
df1["Foo"] = df1["UID"] + df1["PID"]

# Display updated DataFrame
print(df1)

     UID  PID  Quant TransactionDate  TransactionID    foo  bar  Discount  \
0    7.0    2     15      2010-08-21              1   True  1.0      0.15
1    3.0    4      6      2011-05-26              2  False -1.0      0.10
2    3.0    3      6      2011-06-16              3   True -2.0      0.10
3    1.0    2      8      2012-08-26              4  False  2.0      0.10
4    2.0    4      6      2013-06-06              5   True  3.0      0.10
5   45.0  101      4      2024-02-01           8888    NaN  NaN       NaN
6    2.0    5     11      2013-12-23              6  False -3.0      0.15
7    3.0    4      6      2013-12-30              7   True -4.0      0.10
8    NaN    2      8      2014-04-24              8  False  4.0      0.10
9    7.0    4      8      2015-04-24              9   True  5.0      0.10
10   3.0    4      9      2016-05-08             10  False -5.0      0.10

      Foo
0     9.0
1     7.0
2     6.0
3     3.0
4     6.0
5   146.0
6     7.0
7     7.0
8     NaN
9    11.0
10    7.0